Desktop.ini    
.DS_Store 
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
.AddCompLib
builds
config.json
deno.json
.BP/scripts/flashcard---.js
.BP/scripts/flashcard reference from .lang .js
.BP/scripts/main.js